.formContainer {
  /* border: 1px solid red; */
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.formContainer::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

.formContainer h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
