.container {
  border: 1px solid var(--topbar-border-helper);
  flex: 1;
  padding-block: 1.6rem;
  padding-inline-end: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  border: none;
  padding: 0;
}

.selectBoardBtn {
  background-color: var(--foreground-clr);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.currentBoardTitle {
  color: var(--strong-text-clr);
}

.downTick {
  position: relative;
  top: 0.2rem;
}

.groupPlusKebab {
  display: flex;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2.4rem;
  }
}

@media (min-width: 1240px) {
  .container {
    padding-inline-end: 3.2rem;
  }
}
