.container {
  border: 1px solid var(--app-title-border-helper);
  display: flex;
  align-items: center;
  padding-inline-start: 1.6rem;
  gap: 1.6rem;
  width: 5.6rem;
}

.kanbanTitle {
  color: var(--strong-text-clr);
}

@media (min-width: 768px) {
  .container {
    width: fit-content;
    border-right: 1px solid var(--border-lines);
    padding-inline: 2.4rem;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 30rem;
    padding-inline-start: 3.4rem;
  }
}
