:root {
  /* Primary Color tokens */
  --main-purple: hsl(242, 48%, 58%);
  --main-purple-hover: hsl(243, 100%, 82%);
  --soft-purple: hsla(242, 48%, 58%, 0.1);
  --soft-purple-hover: hsla(242, 48%, 58%, 0.25);
  --black: hsl(237, 100%, 4%);
  --very-dark-grey: hsl(235, 16%, 15%);
  --dark-grey: hsl(235, 12%, 19%);
  --lines-dark: hsl(236, 11%, 27%);
  --medium-grey: hsl(216, 15%, 57%);
  --lines-light: hsl(221, 69%, 94%);
  --light-grey: hsl(220, 69%, 97%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 63%);
  --red-hover: hsl(0, 100%, 80%);

  /* Semantic Color Tokens */
  --background-clr: var(--light-grey);
  --foreground-clr: var(--white);
  --strong-text-clr: var(--black);
  --soft-text-clr: var(--medium-grey);

  --btn-primary-bg: var(--main-purple);
  --btn-primary-text: var(--white);
  --btn-primary-bg-hover: var(--main-purple-hover);
  --btn-secondary-bg: var(--purple-grey);

  /* Helper variables */
  --topbar-border-helper: #ff01c0;
  --app-title-border-helper: #e1ff01;
  --dashboard-border-helper: #29ff0c;
}

/* Dark Theme */
:root[theme="dark"] {
  --background-clr: var(--very-dark-grey);
  --foreground-clr: var(--dark-grey);
  --strong-text-clr: var(--white);
}
